<!doctype html
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
 
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <title>App!</title>
<div class="header">
  <a href="#default" class="logo">Care4ther</a>
  <div class="header-right">
    <a href="index.html">Home</a>
    <a href="export1.html">Map</a>
    <a href="police.html"class="active">Police</a>
    <a href="visual.html">Visualization</a>
  </div>
</div>

<div class="col-4 jumbotron text-center" style="position: fixed; right: 35%">
      <strong>Accident Severity Table <br></strong>
      <div class="alert alert-warning">
        1 = FATAL<br>
        2 = SERIOUS<br>
        3 = SLIGHT <br>
      </div>
        <h3 style="text-align: center;"> OUTPUT PREDICTED : </h3>
        <div style="font-size:300%;text-align:center;" id="result"></div>
        <h2 style="text-align: center;"> 2 </h3>  
        <h2 style="text-align: center;"> Message Sent to Police</h3>        

      <hr>
    </div>



  </body>
  <div style="position: absolute;
  width: 100%;
  bottom: 0px;">
<footer class="footer">Copyright &copy; tracker.com</footer>
</div>
</html>
